---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  FORCE_COLOR: "1" # Make tools pretty.
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_PYTHON_VERSION_WARNING: "1"

jobs:
  build-package:
    name: Build & verify package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: hynek/build-and-inspect-python-package@v1

  cog-check:
    name: Ensure cogified files are up-to-date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          cache: pip

      - name: Prepare & run nox
        run: |
          python -Im pip install --upgrade wheel nox
          python -Im nox -e cog -- --check

  tests:
    name: Tests on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs: build-package
    strategy:
      fail-fast: false
      matrix:
        python-version:
          # [[[cog
          # import tomllib, pathlib
          # sup = tomllib.loads(pathlib.Path("pyproject.toml").read_text())["tool"]["supported-pythons"]
          # for v in sup["all"]:
          #     cog.outl(f'- "{v}"')
          # ]]]
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          # [[[end]]]

    steps:
      - name: Download pre-built packages
        uses: download-artifact@v3
        with:
          name: dist
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
          cache: pip

      - name: Prepare & run Nox
        run: |
          python -Im pip install nox

          nox --python ${{ matrix.python-version }} -e tests -- --use-wheel dist/*.whl

      - name: Upload coverage data
        uses: actions/upload-artifact@v3
        with:
          name: coverage-data
          path: .coverage.*
          if-no-files-found: ignore

  tests-no-deps:
    name: Tests without optional dependencies
    runs-on: ubuntu-latest
    needs: build-package

    steps:
      - name: Download pre-built packages
        uses: download-artifact@v3
        with:
          name: dist
      - uses: actions/setup-python@v4
        with:
          cache: pip

      - name: Prepare & run tests
        run: |
          python -Im pip install nox
          python -Im nox -e tests_no_deps -- --use-wheel dist/*.whl

      - name: Upload coverage data
        uses: actions/upload-artifact@v3
        with:
          name: coverage-data
          path: .coverage.*
          if-no-files-found: ignore

  coverage:
    name: Combine & check coverage.
    runs-on: ubuntu-latest
    needs: tests
    if: always()

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          cache: pip

      - uses: actions/download-artifact@v3
        with:
          name: coverage-data

      - name: Combine coverage & fail if it's <100%.
        run: |
          python -Im pip install --upgrade coverage[toml]

          python -Im coverage combine
          python -Im coverage html --skip-covered --skip-empty

          # Report and write to summary.
          python -Im coverage report | sed 's/^/    /' >> $GITHUB_STEP_SUMMARY

          # Report again and fail if under 100%.
          python -Im coverage report --fail-under=100

      - name: Upload HTML report if check failed.
        uses: actions/upload-artifact@v3
        with:
          name: html-report
          path: htmlcov
        if: ${{ failure() }}

  mypy-api:
    name: Type-check API on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          # [[[cog
          # import tomllib, pathlib
          # sup = tomllib.loads(pathlib.Path("pyproject.toml").read_text())["tool"]["supported-pythons"]
          # for v in sup["all"]:
          #     cog.outl(f'- "{v}"')
          # ]]]
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          # [[[end]]]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
          cache: pip

      - name: Prepare & run Nox
        run: |
          python -Im pip install nox

          nox --python ${{ matrix.python-version }} -e mypy

      - name: Upload coverage data
        uses: actions/upload-artifact@v3
        with:
          name: coverage-data
          path: .coverage.*
          if-no-files-found: ignore

  install-dev:
    name: Verify dev env
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          cache: pip

      - name: Install in dev mode & import
        run: |
          python -Im pip install -e .[dev]
          python -c 'import stamina'

  required-checks-pass:
    name: Ensure everything required is passing for branch protection.
    if: always()

    needs:
      - coverage
      - install-dev
      - cog-check
      - build-package

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
