---
name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: "1" # Make tools pretty.
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_PYTHON_VERSION_WARNING: "1"

permissions: {}

jobs:
  build-package:
    name: Build & verify package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: hynek/build-and-inspect-python-package@v2
        id: baipp

    outputs:
      python-versions: ${{ steps.baipp.outputs.supported_python_classifiers_json_array }}

  tests:
    name: Tests on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs: build-package
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(needs.build-package.outputs.python-versions) }}

    steps:
      - name: Download pre-built packages
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - name: Get tests & config from sdist; delete src.
        run: |
          tar xf dist/*.tar.gz --strip-components=1
          rm -rf src
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: hynek/setup-cached-uv@73250b9f1c332375d16c0997a11cf37b7f7d3585

      - name: Prepare & run Nox
        run: |
          uv pip install --system nox "tomli; python_version<'3.11'"
          python -Im nox \
            --python ${{ matrix.python-version }} \
            --sessions tests \
            -- \
            --installpkg dist/*.whl

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: .coverage.*
          if-no-files-found: ignore

  coverage:
    name: Combine & check coverage
    runs-on: ubuntu-latest
    needs: tests
    if: always()

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version-default
      - uses: hynek/setup-cached-uv@73250b9f1c332375d16c0997a11cf37b7f7d3585

      - uses: actions/download-artifact@v4
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage & fail if it's <100%.
        run: |
          uv pip install --system --upgrade coverage[toml]

          python -Im coverage combine
          python -Im coverage html --skip-covered --skip-empty

          # Report and write to summary.
          python -Im coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

          # Report again and fail if under 100%.
          python -Im coverage report --fail-under=100

      - name: Upload HTML report if check failed.
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: htmlcov
        if: ${{ failure() }}

  type-check-api:
    name: Type-check API on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs: build-package
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(needs.build-package.outputs.python-versions) }}

    steps:
      - name: Download pre-built packages
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - run: tar xf dist/*.tar.gz --strip-components=1
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: hynek/setup-cached-uv@73250b9f1c332375d16c0997a11cf37b7f7d3585

      - run: uv pip install --system nox "tomli; python_version<'3.11'"

      - name: Check using Mypy
        run: |
          python -Im nox \
            --python ${{ matrix.python-version }} \
            --sessions mypy_api

      - name: Check using Pyright
        run: |
          python -Im nox \
            --python ${{ matrix.python-version }} \
            --sessions pyright_api

  mypy-pkg:
    name: Type-check package
    runs-on: ubuntu-latest
    needs: build-package

    steps:
      - name: Download pre-built packages
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - run: tar xf dist/*.tar.gz --strip-components=1
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version-default
      - uses: hynek/setup-cached-uv@73250b9f1c332375d16c0997a11cf37b7f7d3585

      - name: Prepare & run Nox
        run: |
          uv pip install --system nox
          python -Im nox \
            --sessions mypy_pkg

  docs:
    name: Build docs & run doctests
    runs-on: ubuntu-latest
    needs: build-package
    steps:
      - name: Download pre-built packages
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - run: tar xf dist/*.tar.gz --strip-components=1
      - uses: actions/setup-python@v5
        with:
          # Keep in sync with .readthedocs.yaml
          python-version: "3.12"
      - uses: hynek/setup-cached-uv@73250b9f1c332375d16c0997a11cf37b7f7d3585

      - name: Prepare & run Nox
        run: |
          uv pip install --system nox
          python -Im nox \
            --session docs

  install-dev:
    name: Verify dev env
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version-default
      - uses: hynek/setup-cached-uv@73250b9f1c332375d16c0997a11cf37b7f7d3585

      - name: Install in dev mode
        run: |
          uv venv
          uv pip install -e .[dev]

      - name: Try to import on Linux
        run: |
          source .venv/bin/activate

          python -Ic 'import stamina; print(stamina.__version__)'
        if: runner.os == 'Linux'

      - name: Try to import on Windows
        run: |
          .venv\Scripts\activate

          python -Ic 'import stamina; print(stamina.__version__)'
        if: runner.os == 'Windows'

  required-checks-pass:
    name: Ensure everything required is passing for branch protection
    if: always()

    needs:
      - coverage
      - install-dev
      - docs
      - type-check-api
      - mypy-pkg

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
